
#juneli {
    margin-top: 60px;
    font-size: 2em;
    padding: 40px 0px;
}

#juneli > div {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
}

canvas {
    border: 1px solid #000;
}

/* CSS Utilities */
.right {
    text-align: right;
}
.center {
    text-align: center;
}