/* Skeleton customization */

/* Only mobile devices */
@media (max-width: 399px) {
    .one-fifth.columns { width: 50%; }
}

/* Larger than mobile */
@media (min-width: 400px) {
    .one-fifth.columns		  { width: 20%; }
}

/* Larger than phablets */
@media (min-width: 550px) {
    .one-fifth.columns		  { width: 16.8%; }    
}


/* Utility classes */
.center {
    text-align: center;
}

#juneli {
    
}

#juneli > div.container {
    background-color: #ffc;
    border-radius: 5px;
}

canvas {
    border: 1px solid #000;
}

/* CSS Utilities */
.right {
    text-align: right;
}
.center {
    text-align: center;
}