<div class="container">
    <div class="row">
        <div class="twelve columns center">
            <h2>कखरा</h2>
        </div>
    </div>

    <div class="row center">
    <% var breaks = [4,9,14,19,24,28,32]; var breakPtr = 0; %>
    <% for (var i=0; i< letters.length; i++) { %>
        <div class="one-fifth columns">
            <h4><a href="#letter?<%= letters[i].letterId %>"><%= letters[i].letter %></a></h4>
        </div>
    <% if (i == breaks[breakPtr]) {%>
    <% breakPtr++ %>
    </div>

    <div class="row center">
    <% } %>
    <% } %>
</div>

