<div class="container">
    <div class="row">
        <div class="twelve columns center">
            <h2>
                <a href="#letter?<%= letterId %>" class="letter"><%= letter %></a>
                <audio class="letterSound" src="audio/letters/<%= letterId %>.mp3"></audio>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="six columns center">
            <img  src="images/<%= words[0].image%>" height="100" width="100" alt="<%= words[0].word %>" />
            <p>
                <%= words[0].word%>
                <audio class="letterSound" src="audio/words/<%= words[0].sound %>"></audio>
            </p>
        </div>
        <div class="six columns center">
            <img src="images/<%= words[1].image%>" height="100" width="100" alt="<%= words[1].word %>" />
            <p>
                <%= words[1].word %>
                <audio class="letterSound" src="audio/words/<%= words[1].sound %>"></audio>
            </p>
        </div>
    </div>
    <div class="row cardNav">
        <div class="left">
            <button type="button" class="btn previousCard" 
            data-previousLetter="<%= previousLetter%>" aria-label="Left Align">
                <span class="glyphicon glyphicon-arrow-left">&lt;</span>
            </button>
        </div>
        <!--
        <div class="home">
            <button type="button" class="btn" 
            data-previousLetter="<%= previousLetter%>" aria-label="Left Align">
                <span class="glyphicon glyphicon-home">home</span>
            </button>
        </div>
        -->
        <div class="right">
            <button type="button" class="btn nextCard" 
            data-nextLetter="<%= nextLetter%>" aria-label="Right Align">
                <span class="glyphicon glyphicon-arrow-right">&gt;</span>
            </button>
        </div>
    </div>
</div>